@media screen and (max-width: 1220px) {
  .input__area {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .adaptive_gap{
    gap: 20px;
  }
}

@media screen and (max-width: 760px) {
  .input__area{
    display: flex;
    flex-direction: row;
    align-items: end;
  }
  .interval_date {
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
  }
  .current_date {
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding-right: 10px;
    height: 100%;
  }
  .date_btn{
   width: 100%;
  }
  .date_gap{
    align-items: center;
  }
}
@media screen and (max-width: 490px) {
  .input__area{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 410px) {
  .description_img{
     font-size: 10px;
  }}