.header{
width: 100%;
text-align: center;
background-color: rgb(28, 33, 37);
}

.logo{
  color: #fff;
  padding: 30px;
}
.date_gap{
  display: flex;
  gap: 20px;
}

.input__area{
  display: flex;
  justify-content: space-around;
  background-color: rgb(28, 33, 37);
  height: 100%;
  padding: 30px;
  color: #fff;
}

.pages_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.area_pad {
  width: 100%; /* Ширина блока с изображением и текстом */
  height: 100%;
  padding-bottom: 20px;
  position: relative; /* Позиционирование относительно контейнера */
  background-color: rgb(28, 33, 37);
  text-align: center;
  color: #fff;
}
.image_description__container{
  width: 80%; /* Ширина изображения внутри блока */
  height: auto; /* Автоматическая высота */
  display: block; /* Убираем пустые пространства под изображением */
  margin: 0 auto;
  position: relative;
}
